.text-with-image {
  display: flex;
  align-items: center;
}

.text-content {
  flex-grow: 1;
  margin-right: 20px;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image_card {
  max-width: 100%;
  max-height: 100%;
}

.logo_card {
  width: 200px;
}

.gradient_navbar {
  background-image: linear-gradient(to top right, #2f405c, #2a766a);
  padding-right: 20px;
}

.nav_menu{
  color: white;
}

.language_button {
  margin-left: 10px; /* Adjust the value as needed to position the button */
}
